<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe's Details</title>
</head>
<body>
    <div>
        <h1>Recipes</h1>
        <ul>
            <li><%= recipes.title %></li>
            <li><%= recipes.description %></li>
            <li><%= recipes.ingredients %></li>
            <li><%= recipes.instructions %></li>
            <li><img src="<%= recipes.image %>"></li>
        </ul>
        <a href="/delete/<%= recipes._id %>">Delete</a>
    </div>
</body>
</html>